.page-content {
    /*margin-left: 0 !important;*/
}
#file_input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 20px;
    direction: ltr;
    cursor: pointer;
}
.DTTT {
    display: none;
}
#data_table_filter {
    display: none;
}